

 <main>
   {{#if hasProducts }}
     <div class="grid">
        {{#each prods}}
        
            
            <article class="card product-item">
                <header class="cars_header">
                    <h1 class="product__title">{{this.title}}</h1>
                </header>
                <div class="card__image">
                    <img src="/html5.PNG" >
                </div>
                <div class="card__content">
                    <h2 class="product__price">$19.99</h2>
                    <p class="product__description">A very interesting book about so many stuffs</p>
                </div>
                <div class="card__actions">
                    <button class="btn">Add to Cart</button>
                </div>
            </article>
        {{/each}}
        </div>
    {{else}}
        <h1>No Product Found!</h1>
    {{/if}}
</main>
